* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav {
    background-color: #333;
}

nav li {
    display: inline-block;
}

nav li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

nav li a:hover {
    background-color: rgb(72, 116, 28);
}

.menu {
    position: absolute;
    display: none;
    background-color: #333;
}

.menu a {
    display: block;
}

.down:hover {
    background-color: rgb(72, 116, 28);
}

.down:hover .menu {
    display: block;
}