ul {
    padding: 0;
    margin: 0;
    background-color: black;
    overflow: hidden;
    list-style-type: none;
}

li {
    float: left;

}

li a,
.btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(216, 89, 89);
    padding: 12px 14px;
}