* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #031634;
    color: #cdb380;
    display: flex;
    height: 150px;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 14px 16px;
}

h1 {
    font-size: 50px;
}

.navmenu ul {
    background-color: #036564;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
}

.navmenu li a {
    text-decoration: none;
    color: rgb(249, 249, 249);
    font-size: 25px;
    flex: 20%;
}

.navmenu a:hover {
    color: #e8ddcb;
    border-top: 1px solid #e8ddcb;
}