p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.botao {
    margin: 20%;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    background-color: rgb(243, 215, 2);
    color: white;
    text-decoration: none;
}

.botao:hover {
    background-color: chartreuse;
    color: black;
}

.teste {
    max-width: 800px;
    width: 300px;
    height: 300px;
    background-color: blue;
    color: white;

}

.teste:hover {
    background-color: black;
    color: red;
}