#cor-sombra {
    color: rgb(0, 255, 47);
    font-size: 42px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

#sobra {
    color: white;
    font-size: 55px;
    text-shadow: 8px 8px 8px black;
}

#duas {
    color: rgb(2, 21, 63);
    font-size: 55px;
    text-shadow: 8px 8px 8px black, 8px 8px 8px rgb(16, 219, 255);
}

img {
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

h2,
p {
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
}

.card {
    display: inline-block;
    margin: 50px;
    width: 350px;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reduzido {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 50px;
}

.card:hover .reduzido {
    white-space: normal;
}