/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    body {
        background-color: red;
    }

}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {
    body {
        background-color: rgb(228, 4, 240);
    }
}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {
    body {
        background-color: rgb(225, 210, 6);
    }
}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {
    body {
        background-color: rgb(83, 245, 8);
    }
}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {
    body {
        background-color: rgb(6, 29, 240);
    }
}


#cor-sombra {
    color: rgb(0, 255, 47);
    font-size: 42px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

#sobra {
    color: white;
    font-size: 55px;
    text-shadow: 8px 8px 8px black;
}

#duas {
    color: rgb(2, 21, 63);
    font-size: 55px;
    text-shadow: 8px 8px 8px black, 8px 8px 8px rgb(16, 219, 255);
}

img {
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

h2,
p {
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
}

.card {
    display: inline-block;
    margin: 50px;
    width: 350px;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reduzido {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 50px;
}

.card:hover .reduzido {
    white-space: normal;
}